<%= render 'shared/title_bar', heading: 'Change Password' %>
<%= form_for(@user, url: change_password_users_path, html: { method: :post, class: 'p-4 bg-white my-3 rounded-sm',  id: 'edit_password_form'}) do |f| %>
  <%= render "shared/resource_errors", resource: @user %>
  <div class="row">
    <div class="col-sm-10">
      <div class="row">
        <div class="extended-form-group col-sm-6 pl-sm-5 mb-0 mt-2">
          <label class="text-dark required">Current Password</label>
          <%= f.password_field :current_password,class: "extended-form-control required", autofocus: true, placeholder: "Current Password"%>
        </div>
        <div class="col-sm-6"></div>
        <div class="extended-form-group col-sm-6 pl-sm-5 mb-0 mt-2">
          <label class="text-dark required">New Password</label>
          <%= f.password_field :password,class: "extended-form-control required", autofocus: true, placeholder: "New Password"%>
        </div>
        <div class="col-sm-6"></div>
        <div class="extended-form-group col-sm-6 pl-sm-5 mb-0 mt-2">
          <label class="text-dark required">Confirm Password</label>
          <%= f.password_field :password_confirmation,class: "extended-form-control required", autofocus: true ,placeholder: "Confirm Password"%>
        </div>
        <div class="col-sm-6"></div>
        <div class="extended-form-group col-sm-6 pl-sm-5 mb-0 mt-2">
          <div class="actions text-center text-sm-left">
            <%= f.submit 'Submit', class: 'btn extended-btn btn-danger px-5' %>
            <%= link_to 'Cancel', users_path, class: 'btn extended-btn btn-default px-5 ml-sm-4 cancel-btn'%>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
