<div class="d-sm-flex align-items-center justify-content-between pb-3 border-bottom">
  <a href="<%= users_path %>" class="image-btn">
    <%= image_tag 'back_button', class: 'img-fluid' %>
  </a>
</div>
<div class="p-4 bg-white my-3 rounded-sm">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <h1 class="h4 text-light-black font-weight-bold mb-3">User Profile</h1>
        <%= link_to edit_user_path(@user), class: 'btn extended-btn btn-danger px-2 float-right ml-auto d-none' do %>
          Edit
          <i class="small fas fa-pencil-alt mx-1"></i>
        <% end %>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-3 py-2 bordered-img text-center">
          <%= image_tag @user.profile_picture_src, class: 'img-fluid bg-white' %>
        </div>
        <div class="col-lg-9 py-2">
          <div class="row my-1 py-1">
            <div class="col-sm-3 col-md-4 col-xl-2 pl-sm-4">
              <label for="name" class="d-inline-block text-danger roboto-medium font-md mb-0">Name&nbsp;:</label>
            </div>
            <div class="col-sm-9 col-md-8 col-xl-10">
              <label for="name_data" class="text-light-black font-md mb-0"><%= @user.name%></label>
            </div>
          </div>

          <div class="row my-1 py-1">
            <div class="col-sm-3 col-md-4 col-xl-2 pl-sm-4">
              <label for="email" class="d-inline-block text-danger roboto-medium font-md mb-0">Email&nbsp;:</label>
            </div>
            <div class="col-sm-9 col-md-8 col-xl-10">
              <label for="email_data" class="text-light-black font-md mb-0"><%= @user.email%></label>
            </div>
          </div>

          <div class="row my-1 py-1">
            <div class="col-sm-3 col-md-4 col-xl-2 pl-sm-4">
              <label for="customer" class="d-inline-block text-danger roboto-medium font-md mb-0">Customer&nbsp;:</label>
            </div>
            <div class="col-sm-9 col-md-8 col-xl-10">
              <label for="customer_data" class="text-light-black font-md mb-0"><%= @user.customer_name %></label>
            </div>
          </div>

          <div class="row my-1 py-1">
            <div class="col-sm-3 col-md-4 col-xl-2 pl-sm-4">
              <label for="phone" class="d-inline-block text-danger roboto-medium font-md mb-0">Phone&nbsp;:</label>
            </div>
            <div class="col-sm-9 col-md-8 col-xl-10">
              <label for="phone_data" class="text-light-black font-md mb-0"><%= @user.phone %></label>
            </div>
          </div>

          <div class="row my-1 py-1">
            <div class="col-sm-3 col-md-4 col-xl-2 pl-sm-4">
              <label for="role" class="d-inline-block text-danger roboto-medium font-md mb-0">Role&nbsp;:</label>
            </div>
            <div class="col-sm-9 col-md-8 col-xl-10">
              <label for="role_data" class="text-light-black font-md mb-0"><%= @user.role_title %></label>
            </div>
          </div>

          <div class="row my-1 py-1">
            <div class="col-sm-3 col-md-4 col-xl-2 pl-sm-4">
              <label for="type" class="d-inline-block text-danger roboto-medium font-md mb-0">User type&nbsp;:</label>
            </div>
            <div class="col-sm-9 col-md-8 col-xl-10">
              <label for="type_data" class="text-light-black font-md mb-0"><%= @user.type %></label>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>