<%= render 'shared/title_bar', heading: 'Customers' %>
<div class="row py-2 border-bottom mx-0">
  <div class="col-sm-4 col-xl-6 col-md-4 pl-sm-0">
    <h5 class="h5 font-weight-light text-light-black my-2" id="customers_info"></h5>
  </div>
  <div class="col-sm-8 col-md-8 col-xl-5 offset-xl-1 pr-sm-0">
    <div class="row">
      <!-- Topbar Search -->
      <div class="d-sm-inline-block col-sm-7 col-md-8 col-xl-8 px-sm-3 my-2 my-sm-0">
        <div class="input-group">
          <input id="customers_search_field" type="text" class="form-control bg-white border-0 small" placeholder="Search customer" aria-label="Search"">
          <div class="input-group-append">
            <button class="btn btn-danger" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-5 col-md-4 col-xl-4 my-2 my-sm-0  text-center-sm">
        <% if accessable?('Customers', 'is_createable') %>
          <a href="<%= new_customer_path %>" class="btn btn-danger btn-block ">
            <small class="small">
              Add New
              <i class="fa fa-plus"></i>
            </small>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive col-12 text-nowrap px-sm-0 pb-3 border-bottom">
  <table class="table table-borderless text-light-black w-100" id="customers_table">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Boxes</th>
        <th>Status</th>
        <th class="invisible"></th>
      </tr>
    </thead>

    <tbody class="bg-white rounded">
      <% @customers.each_with_index do |customer, index| %>
        <tr class="cursor-pointer" href="<%= customer_path(customer) %>">
          <td class="border-bottom rounded-sm text-light-black"><%= customer.code %></td>
          <td class="border-bottom rounded-sm text-light-black"><%= customer.name %></td>
          <td class="border-bottom rounded-sm text-light-black"><%= customer_boxes(customer) %></td>
          <td class="border-bottom rounded-sm text-light-black">
            <%= customer.status.titleize %>
            <i class="fas fa-circle small <%= customer.color %>"></i>
          </td>
          <td class="border-bottom rounded-sm text-light-black">
            <a class="btn btn-danger btn-sm" href="#" id="actions_dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
              <i class="fas fa-caret-down"></i>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu align-content-center shadow " aria-labelledby="actions_dropdown">
              <% if accessable?('Customers', 'is_readable') %>
                <a class="dropdown-item px-2" href="<%= customer_path(customer) %>" >
                  <i class="small fas fa-eye mx-1"></i>
                  View
                </a>
              <% end %>
              <% if accessable?('Customers', 'is_updateable') %>
                <a class="dropdown-item px-2" href="<%= edit_customer_path(customer) %>">
                  <i class="small fas fa-pencil-alt mx-1"></i>
                  Edit
                </a>
              <% end %>
              <% if accessable?('Customers', 'is_deleteable') %>
                <a class="dropdown-item px-2" href="<%= customer_path(customer) %>" data-method="delete" data-confirm="Are you sure?">
                  <i class="small fas fa-trash mx-1"></i>
                  Delete
                </a>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
