<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @permission.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @permission.status %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @permission.icon %>
</p>

<p>
  <strong>Path:</strong>
  <%= @permission.path %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @permission.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @permission.updated_by %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
